<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile/">Profile</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
</nav>
